<div class="grid grid-cols-3 bg-white p-2 sm:p-4 sm:h-[700px] rounded-2xl shadow-lg flex flex-col sm:flex-row gap-5 select-none ">
    <div class="h-52 sm:h-[250px] sm:w-72 rounded-xl bg-gray-200 animate-pulse" ></div>
    <div class="h-52 sm:h-[250px] sm:w-72 rounded-xl bg-gray-200 animate-pulse" ></div>
    <div class="h-52 sm:h-[250px] sm:w-72 rounded-xl bg-gray-200 animate-pulse" ></div>
    <div class="h-52 sm:h-[250px] sm:w-72 rounded-xl bg-gray-200 animate-pulse" ></div>
    <div class="h-52 sm:h-[250px] sm:w-72 rounded-xl bg-gray-200 animate-pulse" ></div>
    <div class="h-52 sm:h-[250px] sm:w-72 rounded-xl bg-gray-200 animate-pulse" ></div>
</div>
