<div>
  <a routerLink="/admin/products/create"><button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 my-5 px-4 border border-blue-500 hover:border-transparent rounded relative left-[1320px] top-[10px]">
    Add +
  </button></a>
    <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full">
                    <thead class="bg-gray-50 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Tên sản phẩm
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                            Ảnh
                        </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Giá
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Mô tả
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                              Trạng thái
                          </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                               Danh mục
                            </th>
                           <th scope="col" colspan="2" class=" text-center py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                           Chức năng
                       </th>
                        </tr>
                    </thead>
                    <tbody>
                <tr *ngFor="let product of products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="text-sm text-gray-900"><h3 class="my-3"><a routerLink="" class="font-semibold text-lg text-orange-500">{{product.name}}</a></h3> </div>
                
                </td>
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <div class="w-[130px]">
                  <a>
                  <img src="{{product.image}}" alt=""/>
                </a>
                  </div>
                </td>
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="text-sm text-gray-900"><h3 class="my-3"><a routerLink="" class="font-semibold text-lg text-orange-500">{{product.price | currency: 'VND'}}</a></h3> </div>
                
                </td>
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <a routerLink="/product-detail/{{product._id}}">
                        Xem chi tiết
                        </a> 
                </td>
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <button (click)="changeStatus(product._id)">{{product.status ? 'Available' : 'Soldout'}}</button>
                  </td>
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <div class="text-sm text-gray-900"><h3 class="my-3"><a class="font-semibold text-lg text-orange-500">{{product.category_id.name}}</a></h3> </div>
                

                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <a routerLink="/admin/products/edit/{{product._id}}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                </td>
                <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <button (click)="onDelete(product._id)">Delete</button>
                </td>            
                </tr>
              
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>