<header class="max-w-full bg-[#1A94FF]">
    <div class="flex justify-between py-[33px] m-auto max-w-screen-xl">
      <img class="logo w-[60px] h-[40px] ml-[15px] pb-2"
        src="https://salt.tikicdn.com/ts/upload/ae/f5/15/2228f38cf84d1b8451bb49e2c4537081.png" alt="" />
      <a routerLink="" class="text-white text-xs font-semibold mt-3 mr-5 font-serif">Fake</a>
      <form action="" class="ml-[35px]" id="form-search">
        <input type="text" id="search" class="w-[650px] h-[40px] mr-[5px]" />
        <button onclick="" class="w-[120px] h-[41px] bg-[#0E64BC] text-white shadow-blue-500/50">
        <a routerLink="/search">Search</a>
        </button>
      </form>
      <form action="" class="ml-[30px]">
         <div *ngIf="user" id="welcome_user">
          <a routerLink="" class="text-2xl text-white "><i class="fas fa-user"></i></a>
          <a routerLink="" id="username" class="text-white text-sm">{{user.user.name}}</a>
          <a routerLink="" id="logout" (click)="onLogOut()" class="text-white text-sm"> | Đăng xuất</a>
        </div>
          <div *ngIf="!user" id="auth">
          <a routerLink="" class="text-2xl text-white "><i class="fas fa-user"></i></a>
          <a routerLink="/sign-in" id="signin" class="text-white text-sm">Đăng nhập | </a>
          <a routerLink="/sign-up" id="sinup" class="text-white text-sm">Đăng ký</a>
        </div> 
      </form>
      <div class="mr-[25px]">
        <a routerLink="/cart" class="text-2xl text-white ml-3 mr-1"><i class="fas fa-shopping-cart"></i></a>
        <a routerLink="/cart" class="text-white text-sm">Giỏ hàng</a>
      </div>
    </div>
    
  </header>
