<nav class="bg-white h-[45px] drop-shadow-md">
    <ul class="flex justify-center pt-[12px]">
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="">Trang Chủ</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/products">Sản Phẩm</a>
      </li>
      <!-- <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/news-page">Tin Tức</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/contact-page">Liên Hệ</a>
      </li> -->
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/about">Về Chúng Tôi</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/admin">Trang Quản Trị</a>
      </li>
    </ul>
  </nav>