<nav class="bg-white h-[45px] drop-shadow-md">
    <ul class="flex justify-center pt-[12px]">
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/admin/dashboard">Dashboard</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/admin/products">Bảng Sản Phẩm</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/admin/users">Bảng Người Dùng</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
        <a routerLink="/admin/orders-table">Bảng Đơn Hàng</a>
      </li>
      <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
      <a routerLink="/admin/category">Bảng Danh Mục</a>
    </li>
    <li class="inline-block text-base px-[30px] text-[#38383D] font-normal leading-4 font-mono">
      <a routerLink="">Về Trang Chủ</a>
    </li>
    </ul>
  </nav>
